html { 
    background: #e7581f;
}

body{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    font-family: Calibri;
    margin: 0;
}


form{
    background: #27a4e5;
    box-shadow: 2px 2px 5px rgba(1,0,0,0.8);
    width: 270px;
    height: 215px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -108px 0 0 -135px;
    border-radius: 3px/3px;
}

.group{
    margin: 0 auto;
    padding: 5px;
}

label{
    text-transform: uppercase;
    margin: 2px;
}

input{
    width: 250px;
    height: 20px;
    border: none;
    border-radius: 10px/10px;
    margin: 2px;
    font-size: 15px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(1,0,0,0.8);
}

input:focus{
    border: 0;
    transform: translateX(5px);
    width: 240px;
}

button{
    font-size: 14px;
    background-color: #f69828;
    box-shadow: 2px 2px 5px rgba(1,0,0,0.8);
    cursor: pointer;
    text-transform: uppercase;
    height: 27px;
    font-family: Tahoma;
    border: none;
}

button:hover{
    opacity: 0.9;
    transform: scale(1.05);
    font-weight: 450;
}

.message{
    width: 272px;
    height: 60px;
    border-radius: 3px/3px;
    background: black;
    color: white;
    font-size: 17px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -145px 0 0 -135px;
    opacity: 0.6;
}
